body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial,sans-serif;
    background-color: darkorchid;
}
.game-container{
    text-align: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    height: 60vmin;
    width: 60vmin;
}
.game-title{
    height: 12vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    color: darkmagenta;
    font-size: 1.25rem;
}
.game-content{
    height: 8vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.game-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    padding: 5px 10px;
}
.game-previousguesses{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5px;
    padding: 0.5px 0.5px;
    background-color: bisque;
    width: 50%;
}
.stats{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    color: #374151;
}