body {
      font-family: Arial, sans-serif;
      background:linear-gradient(to right,#ff8fab,#ffe5ec);
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      margin: 0;
    }
    .game {
      background:linear-gradient(to right,#9d4edd,#e0aaff);
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      width: 320px;
      text-align: center;
    }
    input, button {
      padding: 8px;
      margin: 5px;
      font-size: 1em;
    }
    .info {
      margin-top: 15px;
      font-weight: bold;
    }
    #restartBtn {
      display: none;
      margin-top: 10px;
    }